torch
torchvision
streamlit==1.35.0
opencv-python-headless
numpy
Pillow==10.3.0
groq
langchain==0.2.17
langchain-community==0.2.17
langchain-core==0.2.43
langchain-text-splitters==0.2.4
faiss-cpu
sentence-transformers==2.7.0
scikit-learn
matplotlib
